= link_to 'О нашей студии', 'http://edem-design.ru/articles/19-o-nashey-studii#second_menu'
= link_to 'Портфолио', 'http://edem-design.ru/portfolio#second_menu'
= link_to 'Прайс-лист', 'http://edem-design.ru/articles/20-prays-list#second_menu'
= link_to 'Партнеры', 'http://edem-design.ru/partners#second_menu'
= link_to 'Отзывы', 'http://edem-design.ru/reviews#second_menu'
= link_to 'Контакты', 'http://edem-design.ru/articles/21-kontakty#second_menu'
