!!!
%html
  %head
    %title= page_title
    %meta{ content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
    %link{ rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = gflash
    #wrapper
      #header
        = link_to root_path, id: 'logo' do
          = image_tag 'header/logo.jpg', alt: 'Ландшафтная студия - Эдем'
        #icons
          #cart
            %h4 Ваша корзина: 
            = render partial: 'shared/cart_content', locals: { cart: @cart }
        #contacts
          %span.phone
            +7(473)2-92-00-76
          г. Воронеж, ул.Владимира Невского, 25 д
        #main_menu= render 'shared/main_menu'
      %object{ data: asset_path('header.swf'), height: '216', id: 'header_flash', type: 'application/x-shockwave-flash', width: '1200' }
        %param{ name: 'movie', value: asset_path('header.swf') }
        %param{ name: 'wmode', value: 'transparent'}
        %param{ name: 'quality', value: 'high' }
      #middle_part
        #sidebar
          %ul#categories_menu.nav.nav-pills.nav-stacked
            - @categories.each do |category|
              %li= link_to category.name, category
        #content
          = yield
        .clear
        #footer
          .contacts
            %span.phone +7(473)2-92-00-76
            %span.address г. Воронеж, ул.Владимира Невского, 25 д
            = link_to raw('схема проезда &rarr;'), 'http://edem-design.ru/articles/21-kontakty#second_menu'
